.services {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10rem;
  background: url(../../assets/car-bg-services.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.services--header {
  font-family: "Lora", sans-serif;
  color: var(--color-dark-brown);
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: 2rem;
}

.services--content {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .services {
    background-size: auto;
  }

  .services--header {
    font-size: 2rem;
  }

  .services--content {
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .services {
    height: auto;
    padding: 0;
  }

  .services--content {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
  }
}
