.container {
  scroll-snap-align: center;
}

.hero {
  height: 85vh;
}

.hero--content {
  width: 100%;
  display: flex;
  gap: 4rem;
}

.hero--content__header {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
}

.hero--media {
  position: relative;
}

.hero--media__svg {
  position: absolute;
  height: 38rem;
  z-index: -10;
  left: 21.5rem;
}

@media screen and (max-width: 768px) {
  .hero--content {
    gap: 1rem;
    margin-left: 3.3rem;
  }

  .hero--content__header {
    font-size: 2.5rem;
  }
  .hero--media__img {
    width: 600px;
  }
  .hero--media__svg {
    left: 8rem;
  }
}

@media screen and (max-width: 426px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero--content {
    gap: 1rem;
    position: relative;
    top: 5rem;
    right: 7rem;
  }

  .hero--content__img {
    width: 10px;
    height: 150px;
  }

  .hero--content__header {
    font-size: 1.5rem;
  }
  .hero--media__img {
    width: 500px;
  }
  .hero--media__svg {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero--content {
    gap: 1rem;
    position: relative;
    top: 2rem;
    right: 3.5rem;
  }

  .hero--content__img {
    width: 8px;
    height: 115px;
  }

  .hero--content__header {
    font-size: 1.5rem;
  }
  .hero--media__img {
    width: 500px;
  }
  .hero--media__svg {
    display: none;
  }
}
