.contact {
  scroll-snap-align: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
}

.contact--title {
  position: relative;
  top: 20px;
  font-family: "Lora", sans-serif;
  font-size: 3rem;
  color: var(--color-dark-brown);
}

.contact--form {
  width: 35%;
  height: 65%;
  flex-direction: column;
  gap: 1rem;
  background-color: #e8eaec;
}

.contact--form__textarea {
  height: 120px;
}

@media screen and (max-width: 768px) {
  .contact--form input {
    width: 160px;
    height: 30px;
  }

  .contact--form__textarea {
    height: 90px !important;
  }
}

@media screen and (max-width: 426px) {
  .contact--form {
    width: 300px;
  }

  .contact--form input {
    width: 150px;
    font-size: 10px;
  }

  .contact button {
    width: 100px !important;
    height: 30px !important;
  }
}