.navbar {
  position: sticky;
  top: 0.1px;
  height: 6rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  scroll-snap-align: center;
  z-index: 1000;
}

.navbar--brand {
  font-size: 2rem;
  color: var(--color-dark-brown) !important;
}

.navbar--links {
  width: 30%;
  flex-direction: row;
}

.navbar--links__link {
  transition: color 0.2s ease;
}

.navbar--links__link:hover {
  color: var(--color-light-brown);
}

.navbar--menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar--links {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .navbar--brand {
    margin-left: 3rem;
  }
  .navbar--links {
    font-size: 12px;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 426px) {
  .navbar--brand {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .navbar--links {
    display: none;
  }
  .navbar--menu {
    display: block;
    margin-right: 2rem;
    width: 30px;
    cursor: pointer;
  }
}
